@model List<Category>

<partial name="_Notification" />

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
            <div class="text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Category
                </a>
            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <div class="container">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Category Name
                        </th>
                        <th>
                            Display Order
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
                    {
                        <tr>
                            <td>
                                @obj.Name
                            </td>
                            <td>
                                @obj.DisplayOrder
                            </td>
                            <td>
                                <div class="w-30 btn-group" role="group">
                                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square">Edit</i>
                                    </a>
                                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-dash-circle">Delete</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

